{% extends "web/master.html" %}
{% block content %}
<title>Login page</title>
<h2><small>Login here to edit you account details</small></h2>
    {% if bad_login %}
      <p style="color:red;">Invalid username or password</p>
    {% endif %}

<form action='/accounts/auth_login/' method='post'> {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
      <input type="text" class="form-control" id="username" name="username" placeholder="Username"/>
    </div>

    <div class="col-md-3">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
    </div>

    <div class="col-md-1">
      <input type="submit" value="Login" id="login-button" />
    </div>
  </div>
</form>
{% endblock %}
