{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<!--Used for select and deselect all-->
<script language="JavaScript">
function toggle(t) {
  checkboxes = document.getElementsByName('Counselor');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = t;
  }
}
</script>

<style>
tr:nth-child(even) {
  background-color:#f9f9f9;
}
tr:nth-child(odd) {
  background-color:white;
}

#other-commands-wrapper {
  display: inline-block;
  position: relative;
  top : -46px;
  margin-left : 35px;
}

#find-new-cmd {
  padding: 8px;
  background-color: #f9f9f9;
  width : 390px;
  border : 2px solid #eee;
}

#command-que-wrapper {
  display : inline-block;
  float : left;
  margin-left : 35px;
  position: relative;
  top : -46px;
}

#command-que {
  padding: 8px;
  background-color: #f9f9f9;
  border : 2px solid #eee;
}

#clear-que {
  display : inline-block;
  padding: 8px;
  background-color: #f9f9f9;
  width : 390px;
  border : 2px solid #eee;
  margin-top : 10px;
}

#cmd-creator-wrapper {
  display: inline-block;
  width : 410px;
  background-color: #f9f9f9;
  border : 2px solid #eee;
  float: left;
}

#all-wrap {
  width : 1280px;
  display: inline-block;
}

#cmd-creator-table {
  background-color: white;
}

#cmd-creator-form {
  padding: 8px;
  background-color: #f9f9f9;
  width : 390px;

}

.a-button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: #fff;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: #417690;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border : 1px solid;
  border-color: #417690;
  padding: 1px 6px;
  border-radius: 2px;
}

.a-button:hover {
  border-color: #325A6D;
}

#command-table{
  border : solid 2px #eee;
}

#delete-button {
  background-color : transparent;
  border: none;
  color: #C11212;
}

#delete-button:hover {
  color: rgba(193, 18, 18, 0.46);
}

button {
    cursor:pointer;
}
</style>
<h1>Update manager</h1>
<p>This page is not fully compatible with Firefox. <br />If you are using Firefox use the following format for time input-fields: "YYYY-MM-DDTHH:mm".<br />
  Example: "2017-12-02T12:59" </p>
{% if counselorerror%}
  <h3 style="color: red;">Error: Please select counselor(s) who should be updated to schedule</h3>
{%endif%}
<div id="all-wrap">
<h2>Schedule counselor(s) update</h2>
<div id="cmd-creator-wrapper">
  <table id="cmd-creator-table">
    <table width="410">
      <tr style="border : none; margin: none; color:white; background-color:#79aec8">
          <th>Counselors</th>
          <td><span style="float: right;"><button onClick="toggle(true)">Select all</button> <button onClick="toggle(false)"> Deselect all </button></span></td>
      </tr>
    </table>
    <div style="height : 400px; width : 410px; overflow:auto; overflow-x: hidden;">
      <table width="400">
        <form method="post" action="post">{% csrf_token %}
          {%for c in counselors%}
          <tr>
            <td>
              <input type="checkbox" name="Counselor" value="{{c.url}}" style="margin-right: 10px;"/>{{c.name}}
            </td>
          </tr>
          {%endfor%}
      </table>
    </div>
 </table>

 <div id="cmd-creator-form">
   <h3>Select time for update</h3>
   <input id="datetime-input" type="datetime-local" name="Datetime" required/>
   <input name="Action" type="hidden" value="schedule" />
   <br />
   <br />
  <button type="submit" value="que">Schedule update</button>
 </div>
 </form>
</div>

<div id="other-commands-wrapper">
  <h2>Other actions</h2>
  <div id="find-new-cmd">
    <h3>Find new counselors</h3>
    <p>This will automatically explore if any new counselors should be added to the database</p>
      <form method="post" action="post">{% csrf_token %}
        <input type="datetime-local" name="Datetime" required/><br />
        <input type="hidden" name="Action" value="schedule-findnewcmd"/>
        <button type="submit">Schedule</button>
      </form>
    </div>

      <div id="clear-que">
        <h3>Clear command Que</h3>
        <p>This will remove all commands from current command que</p>
        <form action="post" method="POST">{% csrf_token %}
          <button>
            Click to clear
          </button>
          <input type="hidden" name="Action" value="clear-que" />
        </form>
        </div>
</div>

<div id="command-que-wrapper">
  <h2>Command Que</h2>
  <div id="command-que">
  <h3>Edit command que</h3>
  <p>Click the red cross to remove command</p>
    <div class="cmd-card">
        <table id="command-table">
          {%for c in commandque%}
            <tr>
              <form action="post" method="POST">{% csrf_token %}
                <td>{{c.name}}</td>
                <td>{{c.executionTime}}</td>
                <input type="hidden" name="Action" value="delete-cmd" />
                <td style="border-left: solid 3px #eee;"><button name="Id" value="{{c.id}}" id="delete-button">X</b></td>
              </form>
            </tr>
          {%endfor%}
        </table>
    </div>

  </div>
</div>
</div>


{%endblock%}
