{% extends "edit_info/submenu.html" %}
{% block editcontent %}
<h3>Welcome {{ counselor.name }} here you can edit your details</h3><br />
<a style="float : right;" href="{% url "edit counselor" counselor.id%}">Edit Info</a>
<div class="row info-box">

  <div class="col-md-4">
    <h2><small>Counselor details for</small><br />{{ counselor.name }}</h2>
  </div>

  <div class="col-md-4">
    <h2><small>Area of study</small><br />{{ counselor.study_area }}</h2>
  </div>

  <div class="col-md-4">
    <br />
    <h4><small>Email:  </small>{{ counselor.email }}</h4>
    <h4><small>Office:  </small>{{ counselor.office }}</h4>
  </div>

</div>
  <h2>Projects</h2>
<div style="position: relative; top: -30px;">
  <div class="row">
    <div class="col-md-3">
      <h3><small>Title</small></h3>
    </div>

    <div class="col-md-3">
      <h3><small>Topic</small></h3>
    </div>

    <div class="col-md-3">
      <h3><small>Degree</small></h3>
    </div>
  </div>

  <div class="list-group" id="counselor_projects_list">
    {% for p in counselor.projects.all%}
    <!--<a class="list-group-item" href="{% url 'project_detail' p.id %}">-->
      <div class="row list-group-item">
        <a href="{% url 'project_detail' p.id %}">
          <div class="col-md-3">{{ p.title }}</div>
          <div class="col-md-3">{{ p.topic }}</div>
          <div class="col-md-3">{{ p.degree }}</div>
        </a>
        <div class="col-md-3">
          <span class="right">
            <a href="{%url 'edit project' p.id%}"><button class="btn-primary btn-edit">Edit</button></a>
            <a href="{%url 'delete project' p.id%}"><button class="btn-primary btn-delete">Delete</button></a>
          </span>
        </div>
      </div>
  <!--</a>-->
    {% endfor %}
  </div>
</div>

{% endblock %}
