{%extends "web/master.html" %}
{% block content%}

  <div class="row">
    <div class="col-md-12" style="width : 100%; height : 300px; opacity : 0.8; background-image : url('http://www.wilkes.edu/academics/colleges/arts-humanities-social-sciences/humanities/_images/English_1170x300.jpg');"></div>
  </div>
  <h1>Home</h1>
  <p>Welcome to Projects in Stock, a site made to help you choose a project for your master or bachelor!</p><br />
  </span>
  <div class="content">
  <p>
    This is the index... Welcome...
  </p>
  </div>
{%endblock%}
