{%extends "web/master.html" %}
{% block content%}

  <div class="big-image"></div>
  <span style="position: absolute; top: 0px; margin-top:70px; margin-left : 20px; background-color : rgba(0,0,0,0.14)">
  <h1>Home</h1>
  <p>Welcome to Projects in Stock, a site made to help you choose a project for your master or bachelor!</p><br />
  <img width="150px" src="http://video.ku.dk/files/logo_mob.png" />
  </span>
  <div class="content">
  <p>
    This is the index... Welcome...
  </p>
  </div>
{%endblock%}
