<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
  <title>Projects-in-Stock</title>
</head>
<body>
  <div id="top-wrapper">
    <div id="header">
      <a href="{% url "index" %}">
        <div id="header-title">
          <h1>Project stock</h1>
        </div>
      </a>
      <ul id="header-menu">
        <li class="menu-item"><a href="{% url "index" %}">Home</a></li>
        <li class="menu-item"><a href="{% url "counselor_list" %}">Counselors</a></li>
        <li class="menu-item"><a href="{% url "project_list" %}">Projects</a></li>
      </ul>
    </div>
    <div id="content">
      {%block content%}
      {%endblock%}
    </div>
  </div>

</body>
</html>
