<!DOCTYPE html>
<html>
<head>
  <!-- loading static files -->
  {% load staticfiles %}

  <!--custom rules-->
  <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">

  <!-- importing bootstrap-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#content').fadeIn();
    });
  </script>
</head>
<body>
<div class="container" id="site-wrapper">
  <!--header-->
  <div class="row" id="header-wrap">
    <div class="col-md-9">
      <h2><small>Univeristy of Copenhagen</small> <br /><b>P</b>rojects <b>I</b>n <b> S</b>tock</h2>
    </div>
    <div class ="col-md-3">
      <ul class="nav nav-pills" id="menu">
        <li><a href="{% url "index" %}">Home</a></li>
        <li><a href="{% url "counselor_list" %}">Counselors</a></li>
        <li><a href="{% url "project_list" %}">Projects</a></li>
      </ul>
    </div>
  </div>
<div id="content" style="display: none;">
{%block content%}
{%endblock%}
</div>

<div class="row" id="footer">
  <div class="col-md-4">
    <h3>Useful Links</h3>
      <a href="{% url 'admin:index' %}">Admin Panel</a><br />
      <a href="https://docs.djangoproject.com/en/1.9/">Django Documentation</a><br />
      <a href="http://getbootstrap.com/components/">Bootstrap Documentation</a><br />
      <a href="https://github.com/PhilipFraDIKU/Projects-in-Stock">Github Repo</a><br /><br />

  </div>
  <div class="col-md-4">
    <h3>Project by</h3>
      <h5>Philip Girelli</h5>
      <h5>Herluf Baggesen</h5>
      <h5>Mads Buchmann</h5>

  </div>
  <div class="col-md-4">
  <h3>Info</h3>
  <p>
   This page is not associated with the offical systems of Copenhagen University, and is the result of a student project.
  </p>
  </div>
</div>
</div>
</body>
</html>
