{%extends "web/master.html" %}
{% block content%}
  <h2><small>Project details for</small> <br />{{ project.title }}</h2>
<br />
  <div class="row info-box">

  <div class="col-md-4">
    <h4>Topic</h4>
    <h3>{{ project.topic }}</h3>
  </div>

  <div class="col-md-4">
    <h4>Degree</h4>
    <h3>{{ project.degree }}</h3>
  </div>

  <div class="col-md-4">
    <h4>Counselors</h4>
      <div class="list-group">
      {% for counselor in project.counselor_set.all %}
        <a class="list-group-item" href="{% url 'counselor_detail' counselor.id %}">{{ c.name }}</a>
      {% endfor %}
    </div>
  </div>
  </div>

  <br />
  <h3>Project Description</h3>
  <div class="jumbotron">
  <p>{{ project.description }}</p>
  </div>
{%endblock%}
